body {
  padding: 0;
}

body > section {
  padding: 50px 30px;
}

ul {
  list-style: square;
}

[class^="icon-"], [class*=" icon-"] {
  margin-top: 3px;
}

::selection {
  background: #e7a600;
  color: #fff;
}

.navbar-inner {
  display: inline-block;
  border-radius: 20px;
}

.page-header {
  margin-bottom: 50px;
  padding-bottom: 10px;
  border: 0;
}

.page-header h1 {
  color: #333;
  font-weight: 300;
}

.page-header h1 small {
  display: block;
  margin-top: 10px;
  font-weight: 400;
  font-size: 60%;
  color: #000;
}

.text-justify {
  text-align: justify;
}

.text-embremaq {
  color: #e7a600;
}

.map img {
  max-width: none;
}

.close {
  height: 34px;
  width: 34px;
  text-indent: -9999px;
  background: url(../img/close.png) top center;   
  opacity: 1;  
}

.close:hover {
  opacity: 1;
  background-position: bottom center;  
}

.carousel {
  margin-left: 60px;
  margin-right: 60px;
}

.carousel-inner > .item > img {
  display: inline-block;
}

.carousel-control {
  height: 40px;
  width: 40px;
  left: -50px;
  text-indent: -9999px;
  border: 0;
  background: url(../img/carousel-controls.png) top left;   
  opacity: 1;
}

.carousel-control.right {
  right: -50px;
  background-position: top right;
}

.carousel-control:hover {
  opacity: 1;
  background-position: bottom left; 
}

.carousel-control.right:hover {
  background-position: bottom right; 
}

.thumbnail.active {
  border-color: #e7a600;
}

.inverse {
  background: #000 url(../img/inverse-bg.png) no-repeat center top;
  color: #999;
}

.inverse h1 {
  color: #fff;
}

.inverse .hr-soften {
  height: 2px;
  border: 0;
  background: #000 url(../img/inverse-hr-soften.png) no-repeat center;  
}

.inverse .page-header h1 {
  color: #ccc;
}

.inverse .page-header h1 small {
  color: #fff;
}

.inverse .carousel {
  margin: 0 100px;
}

.inverse .carousel-control {
  left: -100px;
  height: 72px;
  width: 72px;
  background: url(../img/inverse-carousel-controls.png);   
}

.inverse .carousel-control.right {
  left: auto;
  right: -100px;
  background-position: top right;
}

.inverse .carousel-control:hover {
  background-position: bottom left;
}

.inverse .carousel-control.right:hover {
  background-position: bottom right;
}

.inverse .carousel-indicators {
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  cursor: pointer;
}

.inverse .carousel-indicators li {
  float: none;
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../img/inverse-carousel-indicators.png);
}

.inverse .carousel-indicators .active {
  background-position: right;
}

.row-tablet {
  max-width: 768px;
  margin: 0 auto;
}

.row-phone {
  max-width: 480px;
  margin: 0 auto;
}

.row-default {
  max-width: 980px;
  margin: 0 auto;  
}

/* Header
===================================================================== */

#header {
  padding: 20px 0;
  background: #e8a700; 
  color: #000;
}

#header .col1,
#header .col2 {
  line-height: 70px;
}

#header .col2 {
  text-align: right;
}

#header .brand {
  display: block;
  overflow: hidden;
  width: 280px;
  text-indent: -9999px;
  background: url(../img/logo.png) no-repeat left center; 
}

#header .phone {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-size: 18px;
  line-height: 20px;
}

#header .navbar {
  position: relative;
  z-index: 1;
  height: 0;
  margin: 0;
}

#header .navbar-inner {
  background: #000 url(../img/header-navbar-inner.png) repeat-x; 
  border-color: #000;
}

#header .navbar .nav {
  margin-left: 10px;
}

#header .navbar .nav > li > a {
  color: #ccc;
}

#header .navbar .nav > li > a:hover,
#header .navbar .nav > li > a:focus {
  color: #fff;
}

/* Fixed */

#header.fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #000;
  color: #ccc;
}

#header.fixed .brand {
  background-image: url(../img/logo-inverse.png); 
}

#header.fixed .phone {
  font-size: 16px;
}

#header.fixed .navbar {
  top: -55px;
}


/* Banner
===================================================================== */

#banner h1 {
  margin-top: 15%;
}

#banner img {
  margin-top: 5%;
}

/* A Embremaq
===================================================================== */


#empresa {
  padding-top: 0;
}

#empresa .hr-soften {
  margin-top: 0;
  margin-bottom: 50px; /* igual a body > section  */
}

#empresa .page-header {
  background: url('../img/odd-02.png') no-repeat bottom right;
}

#empresa .page-header {
  position: relative;
}

#empresa .page-header img {
  position: absolute;
  bottom: 0;
  right: 0;
}


/* Produtos
===================================================================== */

#produtos .page-header {
  margin-bottom: 20px;
}

#produtos .navbar {
  margin-bottom: 30px;
}

#produtos .navbar .nav > li > a {
  padding-left: 9px;
  padding-right: 9px;
}

#produtos .tabs .thumb {
  position: relative;
  overflow: hidden;
  padding: 20px;
  margin: 10px 0 30px;
  background: #e7a600;
  color: #000;
  border-radius: 8px;
  transition: padding .3s, background .1s;
}

#produtos .tabs .thumb .pull-right {
  position: absolute;
  right: 10px;
  top: 0;
  transition: top .3s;
}

#produtos .tabs .thumb h1,
#produtos .tabs .thumb h2,
#produtos .tabs .thumb h3,
#produtos .tabs .thumb h4 {
  position: relative;
  z-index: 1;
}

#produtos .tab-pane > h3 {
  margin-bottom: 20px;
}

#produtos .tabs .thumb:hover {
  padding-top: 25px;
}

#produtos .tabs .thumb:hover img {
  top: -5px;
}

#produtos .aplicacoes {
  position: relative;
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid #eee;
}

#produtos .aplicacoes .col1 ul {
  list-style: none;
  margin-left: -4px;
}

#produtos .aplicacoes .col1 ul > li {
  display: inline-block;
  background: #eee;
  margin: 0 0 4px 2px;
  padding: 4px 8px;
  border-radius: 4px;
}

#produtos .aplicacoes .col2 .carousel {
  position: relative;
}

#produtos .aplicacoes .col2 h4 i {
  display: inline-block;
  width: 28px;
  height: 25px;
  margin-top: -4px;
  vertical-align: middle;
  background: url('../img/odd-05.png') no-repeat top center;  
}

#produtos .aplicacoes .col2 .player {
  position: relative;
  height: 240px;
  line-height: 240px;
  overflow: hidden;
  margin: 10px 0 20px;
  background: #eee;
  text-align: center;
  vertical-align: middle;
  border-radius: 6px;
}

#produtos .aplicacoes .col2 .carousel .thumbnails {
  margin: 0;
}

#produtos .aplicacoes .col2 .carousel .thumbnails > li {
  float: left;
  width: 30%;
  margin: 0 1.6666665%;
  padding: 0;
}


/* Serviços
===================================================================== */

#servicos .col1,
#servicos .col2 {
  margin-top: 40px;
  margin-bottom: 10px;
}

#servicos ul {
  margin: 0 0 0 10px;
  list-style: none;
}

#servicos li {
  padding: 8px 50px;
  background: url('../img/odd-09.png') no-repeat left center;  
  font-size: 18px;
  color: #aaa;
}

#servicos .col2 {
  position: relative;
}

#servicos .col2 img {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 380px;
  margin-bottom: -60px;
}


/* Contato
===================================================================== */


#contato {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 30px;
}

#contato .phone {
  display: inline-block;
  padding: 6px 14px;
  color: #fff;
  font-weight: 400;
  background: #e8a700;
  border-radius: 24px;
}

#contato .phone i {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: -1px;
  background: url('../img/odd-10.png') no-repeat center;  
}

#contato .map-wrapper {
  overflow: hidden;
  height: 440px;
  margin-top: 40px;
}

#contato .map {
  height: 460px;
}

#contato form {
  position: relative;
  z-index: 1;
  margin: -480px 20px 0;
  padding: 30px;
  background: #fff;
  border: 1px solid #ddd;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-radius: 6px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .075);
}

#contato .close {
  position: absolute;
  top: -12px;
  right: -12px;
}

/* Form */

#contato input[type="text"],
#contato textarea,
#contato .btn {
  padding: 8px; 
  margin-bottom: 20px;
}

#contato input[type="text"],
#contato textarea {
  background: #f9f9f9;
}

#contato input[type="text"]:focus,
#contato textarea:focus {
  background: #fff;
}

#contato input[type="text"] {
  height: 36px;
}

#contato textarea {
  max-width: 100%;
  min-height: 100px;
}

#contato .btn {
  text-transform: uppercase;
  font-size: 16px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .75);
}

#contato hr {
  margin-left: -30px;
  margin-right: -30px;
  border-top-color: #ddd;
}

#contato p {
  margin-bottom: 0;
}


/* Footer
===================================================================== */


#footer {
  padding: 0 0 20px;
}


/* Flash
===================================================================== */


#flash {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  padding: 10px 14px;
  background: #e8a700;
  color: #fff;
}


/* Resposive
===================================================================== */

@media (min-width: 1200px) {

  #produtos .aplicacoes {
    background: url('../img/odd-08.png') no-repeat top center;  
  }

}

@media (max-width: 979px) and (min-width: 768px) {

}

@media (max-width: 979px) {

  .navbar-inner {
    display: block;
  }

  .navbar .btn-navbar {
    display: inline-block;
    float: none;
  }

  .navbar .nav-collapse {
    width: 0;
  }

  .navbar .nav-collapse.in {
    width: auto;
  }

  .navbar .nav-collapse.in .nav {
    margin: 10px;
  }

  #header .navbar {
    display: block;
    height: auto;
    top: 20px;  
  }  

  #header .navbar-inner {
    padding-right: 0;
    padding-left: 0; 
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }

  #banner h1 {
    margin-top: 0;
  }

  #empresa .page-header {
    text-align: center;
    background-position: bottom center;
  }

}

@media (max-width: 767px) {

  .inverse .carousel {
    margin: 0 40px;
  }

  .inverse .carousel-control {
    left: -40px;
    width: 30px;
    height: 100px;
    line-height: 70px;
    text-indent: 0;
    font-size: 140px;
    color: #666;
    background: none; 
  }

  .inverse .carousel-control:hover {
    color: #999;  
  }

  .inverse .carousel-control.right {
    right: -40px;
  }

  #header .col1,
  #header .col2 {
    text-align: center;
  } 

  #header .brand {
    margin: 0 auto;
  } 

  #produtos .aplicacoes {
    text-align: center;
  }

  #produtos .tabs #embreagens-de-friccao-estacionaria .thumb {
    text-align: center;
  }

  #produtos .tabs #embreagens-de-friccao-estacionaria .thumb .pull-right {
    display: none;
  }

  #servicos h1 {
    margin-top: 40px;
  }

  #servicos .col2 {
    text-align: center;
  }

  #servicos .col2 img {
    position: static;
    min-width: 0;
  }

}

@media (max-width: 480px) { 

  h1 {
    font-size: 32px;
  }

  h1, h2, h3 {
    line-height: 34px;
  }

  .lead {
    font-size: 18px;
    line-height: 26px;
  }

  #contato .form-wrapper {
    width: auto;
  }

  #produtos .tabs .thumb {
    text-align: center;
  }

  #produtos .tabs .thumb .pull-right {
    display: none;
  }

}

@media (max-width: 320px) { 


}